<div class="m-footer">
    <a class="m-footer-link" href="https://google.com/" target="_blank"> בכפוף <span> לתקנון</span></a>
    <a class="m-footer-link" href="https://google.com/" target="_blank"><img src="i/mail.png" alt=""> <span>צור קשר</span></a>
</div>