<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>CLEAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/reset-css/reset.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/main-min.css"/>
</head>
<body ng-controller="mainCtrl" class="m">

    <div class="m-header"  ng-init="x = 0">
        <img class="m-header-bg" src="i/header.png" alt="">
        <button class="m-header-logo" ng-click="x = 1"><img src="i/logo.png" alt=""></button>
    </div>

    <main class="m-wrap">
        <div class="m-box m-box_1" ng-show="isTab(1)">
            <div class="m-title m-title_1">ברוכים הבאים לפעילות</div>
            <div class="m-title m-title_2">קוקה קולה יורו</div>
            <div class="m-title m-title_3 m-title_3__mt">
                קונים מארז פחיות,<br>
                שולחים את פרטי החשבונית,<br>
                ויכולים לזכות
                <span>בפרס שווה במיוחד!</span>
            </div>

            <div class="m-form">
                <div class="m-title m-title_3">להשתתפות מלא את הפרטים הבאים</div>
                <input type="text" class="m-input" placeholder="מספר החשבונית">
                <input type="text" class="m-input" placeholder="תאריך החשבונית">
                <button class="m-btn" ng-click="setTab(2)">שלח</button>
            </div>

            <div ng-include="'footer.html'"></div>
        </div>


        <div class="m-box m-box_2" ng-show="isTab(2)">
            <div class="m-title m-title_2">קוקה קולה יורו</div>
            <div class="m-title m-title_3 m-title_3__mt">
                עונים נכון על שתי שאלות<br>
                בזמן הקצר ביותר <br>
                <b>ויכולים לזכות בפרס שווה במיוחד!</b>
            </div>

            <div class="m-questions">
                <div class="m-title m-title_3">מי הוא קפטן נבחרת שוודיה?</div>
                <div class="m-questions-answers">
                    <button class="m-btn m-btn_o">1. סבסטיאן לארסון</button>
                    <button class="m-btn m-btn_o">3. מרקוס ברג</button>
                    <button class="m-btn m-btn_o">2. זלאטן איברהימוביץ</button>
                    <button class="m-btn m-btn_o">4. אנדראס גרנקוויסט</button>
                </div>
                <button class="m-btn" ng-click="setTab(3)">לשאלה הבאה >></button>
            </div>

            <div ng-include="'footer.html'"></div>
        </div>


        <div class="m-box m-box_3" ng-show="isTab(3)">
            <div class="m-title m-title_2">
                תודה
                <br>
                על השתתפותך
            </div>
            <div class="m-title m-title_3">
                אנא מלא את פרטיך על מנת <br>
                שנוכל לחזור אליך במידה ותזכה
            </div>

            <div class="m-form">
                <div class="m-form">
                    <button class="m-btn_fb"><img src="i/fb.png" alt=""></button>
                    <input type="text" class="m-input" placeholder="שם">
                    <input type="text" class="m-input" placeholder="טלפון">
                </div>
                <label class="m-checkbox">
                    <input type="checkbox">
                    <i></i>
                    <span>אישור שליחת sms לקבלת התראות בזמן אמת על הטבות ומבצעים נוספים</span>
                </label>
                <label class="m-checkbox">
                    <input type="checkbox">
                    <i></i>
                    <span><a href="https://google.com/" target="_blank"> התקנון</a> אני מאשר את</span>
                </label>
                <button class="m-btn" ng-click="setTab(4)">שלח</button>
            </div>

            <div ng-include="'footer.html'"></div>
        </div>


        <div class="m-box m-box_4" ng-show="isTab(4)">
            <div class="m-title m-title_2">קוקה קולה יורו</div>
            <div class="m-title m-title_3">
                תודה, פרטיך נתקבלו בהצלחה.<br>
                במידה וזכית נציגנו יצור אתך קשר
            </div>

            <div class="m-box_4-goal"><img src="i/goal.png" alt=""></div>

            <div ng-include="'footer.html'"></div>
        </div>
    </main>

<!-----------------------------------------------popups---------------------------------------------------------------->
    <div class="m-popup" ng-class="{'active': x == 1}">
        <div class="m-popup-box">
            <button class="m-popup-box-close" ng-click="x = 0"><img src="i/close.png" alt=""></button>
            <img ng-src="i/popup_1.png" alt="">
        </div>
    </div>

    <div class="m-popup" ng-class="{'active': x == 2}">
        <div class="m-popup-box">
            <button class="m-popup-box-close" ng-click="x = 0"><img src="i/close.png" alt=""></button>
            <img ng-src="i/popup_2.png" alt="">
        </div>
    </div>

    <div class="m-popup" ng-class="{'active': x == 3}">
        <div class="m-popup-box">
            <button class="m-popup-box-close" ng-click="x = 0"><img src="i/close.png" alt=""></button>
            <img ng-src="i/popup_3.png" alt="">
        </div>
    </div>

    <div class="m-popup" ng-class="{'active': x == 4}">
        <div class="m-popup-box">
            <button class="m-popup-box-close" ng-click="x = 0"><img src="i/close.png" alt=""></button>
            <img ng-src="i/popup_4.png" alt="">
        </div>
    </div>


    <!-- bower:js -->
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-route/angular-route.js"></script>
    <script src="bower/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

    <script src="js/main-min.js"></script>
</body>
</html>