<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>הזוג המושלם</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- bower:css -->
    <!--<link rel="stylesheet" href="bower/bootstrap-css-only/css/bootstrap.css" />-->
    <link rel="stylesheet" href="bower/reset-css/reset.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/main-min.css"/>

    <!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
</head>
<body ng-controller="mainCtrl" class="app ovh">
    <div pre-loader class="pre-loader">
        <div id="loader"></div>
    </div>



    <main class="x">
        <section class="x-content" ng-class="{'mobileBg1': isTab(2), 'mobileBg2': isTab(3)}">

            <div class="x-content-right" ng-show="isTab(1)">
                <br>
                <br>
                <img class="respImg" style="max-width: 483px;" src="i/page1/1.png" alt="" title="רוצים לזכות בכרטיס
טיסה לאירופה?">
                <br>
                <br>
                <!--<div class="x-content-right-title">-->
                <!--מי הכי מתאים לצאת-->
                <!--אתכם להרפתקה?-->
                <!--</div>-->
                <div class="x-content-right-title_s">
                    נעזור לך למצוא את הנפש התאומה שלך
                    בדרך למרוץ של חייכם
                </div>
                <!--login();-->
                <button class="x-content-right-btn" ng-class="{'send': logged}" ng-click="login()" title="לחצו כדי לבדוק מי
הכי מתאים לכם...">
                    <!--המלהקים שלנו בודקים מי הכי מתאים לך...-->
                </button>
                <div id="loader2"></div>


                <a class="x-content-right-link" href="http://reshet.tv/mood/travel/shows-the-amazing-race/takanon-launch-game/" target="_blank">לקריאת התקנון</a>
            </div>

            <form name="tab2" class="x-content-right" ng-show="isTab(2)">
                <div class="x-content-right-title" >
                    {{user.name | firstWord}} <br>
                    אתה ו-{{user_friend.name | firstWord}}
                    <!--<span>הזוג המושלם לנצח במרוץ!</span>-->
                    <img class="respImg" style="max-width: 347px;" src="i/page2/3.png" alt="" title=""/>
                </div>

                <div class="x-content-right-title_s">
                    <span ng-show="user.sex != 'male'">ספרי לנו מהי פעילות האקסטרים הכי מטורפת שתעשו יחד, שתפי את התוצאה, תייגי את {{user_friend.name | firstWord}} (לא לשכוח לעשות צילום מסך) ואולי תזכי</span>
                    <span ng-show="user.sex == 'male'">ספר לנו מהי פעילות האקסטרים הכי מטורפת שתעשו יחד, שתף את התוצאה, תייג את {{user_friend.name | firstWord}} (לא לשכוח לעשות צילום מסך) ואולי תזכה</span>
                </div>
                <div class="x-content-right-title_m">
                    מהי פעילות האקסטרים הכי מטורפת
                    שתעשו יחד?
                </div>


                <textarea rows="5" class="x-content-right-textarea" ng-model="sharedText" required="required" minlength="1" name="userTextarea" ng-change="checkTypingStory()"></textarea>
                <label class="x-checkbox">
                    <input type="checkbox" ng-model="sharedTextCheckBox">
                    <i></i>
                    <span class="x-content-right-title_m">מאשר קבלת עדכונים מרשת</span>
                </label>
                <label class="x-checkbox">
                    <input type="checkbox" ng-model="terms" required="required" name="userTerms" ng-click="acceptTermsButton()">
                    <i></i>
                    <span class="x-content-right-title_m">מאשר את <a target="_blank" href="http://reshet.tv/mood/travel/shows-the-amazing-race/takanon-launch-game/">התקנון</a></span>
                </label>
                <button class="x-content-right-btn_2" ng-class="{'inActive': tab2.userTextarea.$invalid || tab2.userTerms.$invalid}" ng-click="setTab(3)">
                    צאו לדרך
                </button>
            </form>

            <form name="tab3" class="x-content-right" ng-show="isTab(3)">
                <!--<div class="x-content-right-title">-->
                <!--לכו לארוז מזוודה-->
                <!--<span>            אתם הזוג המושלם לנצח במירוץ</span>-->
                <!--</div>-->
                <br>
                <br>
                <img class="respImg" style="max-width: 407px;" src="i/page3/1.png" alt="" title=""/>
                <br>
                <br>
                <div class="x-content-right-title_s">
                    מלאו את הפרטים ואולי תזכו בכרטיס טיסה לאירופה.
                    הזוכים יוכרזו בפרק ההשקה של המירוץ למיליון
                    שישודר ביום ג' בשעה 21:00
                </div>


                <label class="x-content-right-label">
                    <span>שם מלא</span>
                    <input type="text" class="dir-rtl" maxlength="100" required="required" name="inputfullname" ng-model="fullname" ng-change="checkTypingInputs()">
                </label>
                <label class="x-content-right-label">
                    <span>טלפון</span>
                    <input type="tel" maxlength="11" required="required" name="inputphone" ng-model="phone" pattern="^\(?(02|03|04|07|08|09|072|073|074|076|077|078|050|052|053|054|055|056|057|058|059)\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" ng-change="checkTypingInputs()">
                </label>
                <label class="x-content-right-label">
                    <span>אימייל</span>
                    <input type="email" maxlength="100" required="required" name="inputemail" ng-model="email" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" ng-change="checkTypingInputs()">
                </label>
                <button  ng-class="{'inActive': tab3.inputfullname.$invalid || tab3.inputphone.$invalid || tab3.inputemail.$invalid}" class="x-content-right-btn_2" ng-click="sendInputData($event)">
                    שלחו ותוכלו לזכות
                </button>
                <div class="x-content-right-checkMark"><img src="i/check-mark.png" alt=""></div>
            </form>




            <div class="x-content-left">
                <!--<img class="x-content-left-logo" src="i/logo.png" alt="">-->
                <!--<img class="x-content-left-liberty" src="i/liberty.png" alt=""/>-->
                <div class="x-content-left-mail">
                    <img class="bgimg" src="i/mail.png" alt="">
                    <span class="top">
                        <figure class="front"></figure>
                        <figure class="back"></figure>
                    </span>
                    <span class="hidetop"></span>
                    <div class="photo-me">
                        <span><i ng-style="{'background':'url(https://graph.facebook.com/' + user.uid + '/picture/?width=250&height=250) center no-repeat'}"></i></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="photo-friends">
                        <span><i ng-style="{'background':'url(https://graph.facebook.com/' + user_friend.uid + '/picture/?width=250&height=250) center no-repeat'}"></i></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <!-- loader -->
    <script src="http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js"></script>
    <script type="text/javascript">
        var cl = new CanvasLoader('loader');
        cl.setColor('#0a9cf1'); // default is '#000000'
        cl.setShape('spiral'); // default is 'oval'
        cl.setDiameter(100); // default is 40
        cl.setDensity(160); // default is 40
        cl.setRange(0.5); // default is 1.3
        cl.setSpeed(7); // default is 2
        cl.setFPS(60); // default is 24
        cl.show(); // Hidden by default

        setTimeout(function(){
            var cl2 = new CanvasLoader('loader2');
            cl2.setColor('#0a9cf1'); // default is '#000000'
            cl2.setShape('spiral'); // default is 'oval'
            cl2.setDiameter(100); // default is 40
            cl2.setDensity(160); // default is 40
            cl2.setRange(0.5); // default is 1.3
            cl2.setSpeed(7); // default is 2
            cl2.setFPS(60); // default is 24
            cl2.show(); // Hidden by defaultv
        },1000)
    </script>
    <!-- loader -->



    <!-- bower:js -->
    <script src="bower/angular/angular.min.js"></script>
    <script src="bower/angular-route/angular-route.min.js"></script>
    <script src="bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower/angular-animate/angular-animate.min.js"></script>
    <script src="bower/angular-easyfb/build/angular-easyfb.min.js"></script>
    <!-- endbower -->

    <script>
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="hideNext"></div>
    <!-- Start Cooladata -->
    <script type="text/javascript">
        (function(d,a){if(!a.__SV){var b,c,g,e;window.cooladata=a;a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var h=a;"undefined"!==typeof f?h=a[f]=[]:f="cooladata";g=["trackEvent","trackEventLater","trackPageload","flush","setConfig"];for(e=0;e<g.length;e++)d(h,g[e]);a._i.push([b,c,f])};a.__SV=1.2;b=d.createElement("script");b.type="text/javascript";b.async=!0;b.src="//cdn.cooladata.com/tracking/cooladata-2.1.12.min.js";c=d.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.cooladata||[]);
        cooladata.init({
            "app_key": "s2pjk18mq7bfhx6b7uvregjc3l3s4yc3",
            "track_pageload": true,
            "img_src_get_request": true
        });
    </script>
    <!-- End Cooladata -->


    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally
    identifiable information or placed on pages related to
    sensitive categories. See more information and instructions
    on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1010758463;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript><div style="display:none;"><img height="1" width="1" style="display:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1010758463/?value=0&amp;guid=ON&amp;script=0"/></div></noscript>


    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '877541245701183');
        fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=877541245701183&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->


    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40581512-4', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Google Analytics -->

    <script src="js/main.js" charset="UTF-8"></script>
</body>
</html>