$c1: #e31d2a;
$c2: #b7131e;

////////////////////////////////////////////
@font-face{font-family: 'spacer'; src: url('../fonts/spacer_font/spacer_0-webfont.eot'); src: url('../fonts/spacer_font/spacer_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/spacer_font/spacer_0-webfont.woff2') format('woff2'), url('../fonts/spacer_font/spacer_0-webfont.woff') format('woff'), url('../fonts/spacer_font/spacer_0-webfont.ttf') format('truetype'); font-weight: 400;font-style: normal;}
@font-face{font-family: 'spacer'; src: url('../fonts/spacer_font/spacerbold_0-webfont.eot'); src: url('../fonts/spacer_font/spacerbold_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/spacer_font/spacerbold_0-webfont.woff2') format('woff2'), url('../fonts/spacer_font/spacerbold_0-webfont.woff') format('woff'), url('../fonts/spacer_font/spacerbold_0-webfont.ttf') format('truetype'); font-weight: 700; font-style: normal;}
@font-face{font-family: 'spacer'; src: url('../fonts/spacer_font/spacerblack1-webfont.eot'); src: url('../fonts/spacer_font/spacerblack1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/spacer_font/spacerblack1-webfont.woff2') format('woff2'), url('../fonts/spacer_font/spacerblack1-webfont.woff') format('woff'), url('../fonts/spacer_font/spacerblack1-webfont.ttf') format('truetype'); font-weight: 900; font-style: normal;}
////////////////////////////////////////////
::-webkit-input-placeholder {color: $c1;}
::-moz-placeholder          {color: $c1;}/* Firefox 19+ */
:-moz-placeholder           {color: $c1;}/* Firefox 18- */
:-ms-input-placeholder      {color: $c1;}
::-moz-selection            {background: $c2;}
::selection                 {background: $c2;}
*{
  box-sizing: border-box;
  &:focus{outline: none;}
}
.dibT{
  display: inline-block;
  vertical-align: top;
}
.dibM{
  display: inline-block;
  vertical-align: middle;
}
.dibB{
  display: inline-block;
  vertical-align: bottom;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}
////////////////////////////////////////////
@-webkit-keyframes change {
  0% {
    opacity:1;
    transform: scale(1);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}
////////////////////////////////////////////

.m{
  background: $c1;
  direction: rtl;
  font-family: 'spacer';
  font-weight: 400;
  min-width: 320px;
  &-wrap{
    width: 520px;
    margin: 0 auto;
    position: relative;
  }

  &-title{
    color: white;
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    &_1{
      font-size: 43px;
      font-weight: 900;
    }
    &_2{
      font-size: 69px;
      font-weight: 900;
    }
    &_3{
      line-height: 36px;
      span{
        font-weight: 700;
      }
      b{
        font-weight: 700;
        text-decoration: underline;
      }
      &__mt{
        margin-top: 48px;
      }
    }
  }

  &-input{
    width: 100%;
    padding: 14px;
    font-size: 30px;
    border-radius: 10px;
    background: #fff;
    color: #e31d2a;
    margin: 9px 0;
    border: 2px solid $c2;
  }

  &-checkbox{
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
    input{
      display: none;
      &:checked + i{
        &:after{
          transform: scale(1) rotate(360deg);
        }
      }
    }
    i{
      width: 35px;
      height: 35px;
      border: 2px solid $c2;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      background: white;
      margin: 0 0 0 10px;
      &:after{
        content: '';
        background: $c1;
        width: 28px;
        height: 28px;
        position: absolute;
        left: 2px;
        top: 2px;
        transform: scale(0) rotate(0deg);
        transition: all 200ms linear;
      }
    }
    span{
      width: 90%;
      font-size: 24px;
      text-transform: uppercase;
      color: white;
      display: inline-block;
      vertical-align: middle;
      a{
        color: white;
      }
    }
  }

  &-btn{
    width: 100%;
    padding: 11px;
    font-size: 40px;
    border-radius: 10px;
    background: $c2;
    color: white;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    transition: all 50ms linear;
    &:hover{opacity: .6;}
    &:active{transform: scale(.96);}

    &_o{
      padding: 18px;
      font-size: 25px;
      background: transparent;
      border: none;
      text-align: right;
      color: white;
      &:hover{opacity: 1;color: $c1;background: white;}
    }

    &_fb{
      width: 100%;
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
      transition: all 50ms linear;
      img{
        width: 100%;
      }
      &:hover{opacity: .6;}
      &:active{transform: scale(.96);}
    }
  }

  &-popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 50ms linear;
    &-box{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 500px;
      margin: auto;
      height: 500px;
      transform: scale(0);
      transition: all 200ms linear 100ms;
      img{
        width: 100%;
      }
      &-close{
        position: absolute;
        right: -20px;
        top: -20px;
        border: none;
        background: none;
        cursor: pointer;
      }
    }

    &.active{
      z-index: 100;
      visibility: visible;
      opacity: 1;
      .m-popup-box{
        transform: scale(1);
      }
    }
  }

  &-header{
    position: relative;
    overflow: hidden;
    &-bg{
      width: 100%;
    }
    &-logo{
      border: none;
      background: none;
      position: absolute;
      cursor: pointer;
      bottom: 6px;
      left: 0;
      padding: 0;
    }
  }

  &-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 48px 0 20px;
    &-link{
      color: white;
      font-size: 26px;
      text-decoration: none;
      span{
        @extend .dibB;
        text-decoration: underline;
      }
      img{
        @extend .dibB;
      }
    }
  }

  &-questions{
    margin: 30px 0 0;
    .m-title{
      font-size: 27px;
      margin: 0 0 17px;
    }
    &-answers{
      font-size: 0;
      .m-btn{
        width: 50%;
        padding: 20px 18px 20px 5px;
        margin: 0 0 10px;
      }
    }
  }

  &-box{
    padding: 56px 0 0;
    &_2{
      padding: 100px 0 0;
    }
    &_3{
      padding: 35px 0 0;
      .m-title_3{margin-top: 10px;}
      .m-form{margin-top: 30px;}
      .m-input{margin: 6px 0;}
      .m-footer{padding: 10px 0 20px;}
    }

    &_4{
      padding: 100px 0 0;
      &-goal{
        img{width: 100%;}
      }
      .m-title_3{margin-top: 65px;}
    }

    &.ng-hide-add {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      animation: change 200ms linear;
    }
    &.ng-hide-remove {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      animation: change 200ms linear reverse;
    }
  }

  &-form{
    margin-top: 56px;
    .m-title{
      margin-bottom: 5px;
    }
  }
}



////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
@media all and (max-width: 800px){
  .m{
    &-box{
      &_4{
        padding: 100px 0 0;
        min-height: 760px;
        &-goal{
          position: fixed;
          width: 100%;
          left: 0;
          img{width: 100%;}
        }
        .m-footer{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

@media all and (max-width: 600px){
  .m{
    &-wrap{
      width: 100%;
    }

    &-popup{
      &-box{
        width: 80%;
        height: 270px;
        &-close {
          right: -15px;
          top: -15px;
          width: 40px;
        }
      }
    }

    &-header-logo img{
      width: 200px;
    }

    &-checkbox{
      i {
        width: 28px;
        height: 28px;
        &:after, &:before{
          width: 20px;
          height: 20px;
        }
      }
      span {
        width: 84%;
        font-size: 14px;
      }
    }

    &-input {
      font-size: 19px;
      padding: 8px;
    }

    &-btn {
      font-size: 25px;
    }

    .m-footer-link {
      font-size: 16px;
      img{
        width: 20px;
      }
    }

    &-title{
      font-size: 19px;
      &_1 {
        font-size: 27px;
      }
      &_2 {
        font-size: 40px;
        margin: 20px 0;
      }
      &_3 {
        line-height: 22px;
        &__mt {
          margin-top: 50px;
        }
      }
    }

    &-questions{
      margin: 50px 0 0;
      .m-title {
        font-size: 18px;
        margin: 0 0 10px;
      }
      .m-btn_o {
        font-size: 16px;
        width: 50%;
        padding: 14px 10px 13px 5px;
        margin: 0 0 10px;
      }
    }

    &-box{
      padding: 30px 25px 0;
      &_2, &_3, &_4{padding: 10px 5px 0;}
      &_4{
        min-height: initial;
        &-goal{
          position: static;
          left: inherit;
          margin: 40px 0;
          img{width: 100%;}
        }
        .m-footer{
          position: static;
          left: inherit;
          right: inherit;
          bottom: inherit;
        }
        .m-title_3 {
          margin-top: 40px;
        }
      }
    }
  }
}