@font-face{
  font-family:'almoni-dl';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni-dl';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni-dl';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.woff') format('woff');
}
@font-face{
  font-family:'almoni-dl';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.woff') format('woff');
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  box-shadow: inset 0 0 300px -50px #0f0f0f;
  z-index: 10000;
  background: #fff;
  opacity: 1;
  visibility: visible;
  transition: all 2s ease;
  &.hide{
    opacity: 0;
    visibility: hidden;
    z-index: -5;
    transition: all 2s ease 1s;
    #loader1{
      transition: all 2s ease;
      transform: scale(0);
    }
  }
  #loader1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    transform: scale(1);
    transition: all 2s ease;
  }
}


.inactive{
  pointer-events: none;
  opacity: .5;
}
.ovh{
  overflow: hidden;
}
.dn{
  display: none;
}
.bg_w{
  background: white;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

*{
  &:focus, &:active{
    outline: none !important;
  }
}

html,body{
  height: 100%;
  font-family: 'almoni-dl';
  color: white;
  direction: rtl;
}

.respImg{
  width: 100%;
  vertical-align: middle;
}


.a{
  width: 100%;
  min-width: 1220px;
  background: url(../i/bg.png) center no-repeat;
  background-size: cover;
  position: relative;
  &-btn{
    &_o{
      border: none;
      background: none;
      transition: all 200ms ease;
      &:hover{opacity: 0.8;}
      &:active{
        transform: scale(0.95);
      }
    }
  }
  &-check{
    display: inline-block;
    vertical-align: middle;
    input{
      display: none;
      transition: all 0ms ease 0ms;
      &:checked + i img{
        display: block;
        + img {
          display: none;
        }
      }
    }
    span{
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      font-size: 31px;
      font-weight: 700;
      a{
        color: #009344;
        text-decoration: underline;
        font-weight: 700;
      }
    }
    i{
      width: 26px;
      height: 26px;
      border-radius: 3px;
      display: inline-block;
      vertical-align: middle;
      border: 3px solid #009344;
      position: relative;
      img{
        display: none;
        position: absolute;
        transition: all 0ms ease 0ms;
      }
      img:nth-child(1){
        left: -8px;
        top: -24px;
      }
      img:nth-child(2){
        left: -12px;
        top: -12px;
      }
    }
  }

  &-input{
    max-width: 320px;
    width: 100%;
    display: inline-block;
    margin: 0 15px;
    span{
      display: block;
      font-size: 32px;
      color: #009344;
      text-align: right;
    }
    input{
      border: 2px solid #009344;
      border-radius: 40px;
      width: 100%;
      padding: 8px 15px;
      font-size: 28px;
      text-align: right;
      direction: rtl;
    }
  }

  &-content{
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 180px;
    position: relative;
    &-title{
      margin: 45px 0 25px;
    }

    &-box{
      color: #009344;
      border: 14px solid #009344;
      background: white;
      border-radius: 40px;
      height: 710px;
      overflow: hidden;
      position: relative;
      &-transpBg{
        background: rgba(255, 255, 255, 0.6);
      }
      &:after{
        content: '';
        box-shadow:inset 0 0 100px -25px #0F0F0F;
        position: absolute;
        border-radius: 25px;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      &-title{
        position: relative;
        z-index: 2;
        font-size: 66px;
        font-weight: bold;
        margin: 45px 0 40px;
        &_s{
          position: relative;
          z-index: 2;
          font-size: 38px;
          padding: 0 0 25px;
          margin: 0 160px 0;
          line-height: 65px;
          border-bottom: 1px solid #009344;
          span{
            display: inline-block;
            background: #ffe21a;
            border-radius: 50px;
            padding: 5px 12px;
            vertical-align: middle;
            border: 5px solid #009344;
            box-sizing: border-box;
            line-height: 1;
            direction: rtl;
          }
        }
        &_m, &_x{
          position: relative;
          z-index: 2;
          font-size: 43px;
          font-weight: 700;
          margin-top: 25px;
          h2{
            font-weight: 400;
          }
        }
        &_x{
          font-size: 50px;
        }
      }

      &-btns{
        position: relative;
        z-index: 2;
        button{
          margin: 30px 20px;
        }
      }

    }


    &-box_2{
      height: auto;
      min-height: 710px;
      &-bg{
        background: transparent;
        background-size: cover !important;
        width: 100%;
        height: 440px;
        img{
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          border-radius: 20px 20px 0 0;
          transition: all 200ms ease;
        }
        .corner{
          position: absolute;
          right: 0;
          top: 0;
          font-size: 65px;
          color: #009344;
          background: #f1d619;
          padding: 7px 21px;
          border-radius: 0 25px 0 20px;
          span{
            direction: ltr;
            display: inline-block;
          }
        }
      }
      &-questions{
        position: relative;
        z-index: 2;
        &-title{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          background: #009344;
          padding: 15px 45px;
          position: relative;
          h2{
            font-size: 55px;
            color: #ffe21a;
            display: inline-block;
            font-weight: bold;
            max-width: 88%;
            transition: all 200ms ease;
          }
          .time{
            position: absolute;
            left: 35px;
            top: -30px;
            span{
              color: #ffe21a;
              font-size: 44px;
              font-weight: bold;
              position: absolute;
              right: 46px;
              top: 71px;
            }
            &.red span{
              color: red;
            }
          }
        }
        &-box{
          text-align: right;
          position: relative;
          transition: all 200ms ease;
          &-item{
            padding: 20px 25px 20px 0;
            width: 50%;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            .a-check{
              input{
                &:checked + i img{
                  display: none;
                }
              }
            }
          }
        }
      }



      &.loading{
        .a-content-box_2{
          &-bg img{
            opacity: 0.5;
            transition: all 200ms ease 1.8s;
          }
          &-questions{
            &-title h2{
              opacity: 0.5;
              transition: all 200ms ease 1.8s;
            }
            &-box{
              opacity: 0.5;
              transition: all 200ms ease 1.8s;
              &-item{
                .a-check{
                  pointer-events: none;
                  opacity: .5;
                  &.touched{
                    pointer-events: auto;
                    opacity: 1;
                  }
                  &.correct{
                    input{
                      &:checked + i img{
                        &:nth-child(1){
                          display: block;
                        }
                        &:nth-child(2){
                          display: none;
                        }
                      }
                    }
                  }
                  &.wrong{
                    input{
                      &:checked + i img{
                        &:nth-child(1){
                          display: none;
                        }
                        &:nth-child(2){
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &-box_3{
      background: none;
      .a-content-box-title_m{
        margin: 80px 0 0;
        h2{
          margin: 0 0 50px;
          span{
            direction: ltr;
            display: inline-block;
            background: #ffe21a;
            width: 100px;
            height: 100px;
            line-height: 90px;
            border-radius: 50%;
            vertical-align: middle;
            border: 5px solid #009344;
            box-sizing: border-box;
          }
        }
      }
      .a-content-box_2-questions-title{
        margin: 80px 0 0;
        text-align: center;
        background: #FFF;
        h2{width: 100%;margin: 0 auto;color: #009345;border-bottom: 5px solid #009345;}
      }
      .bg_w{
        padding-top: 40px;
        height: 100%;
      }
      &-inputs{
        position: relative;
        z-index: 2;
      }
      &-submit{
        position: relative;
        z-index: 2;
        padding: 50px 60px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .a-check{
          span{
            font-size: 32px;
          }
        }
        .a-btn_o{
          position: relative;
          .img{
            transform: scale(1);
            transition: all 300ms ease;
            + .checkMark{
              transform: scale(0);
            }
          }

          &.send{
            pointer-events: none;
            .img{
              transform: scale(0);
              + .checkMark{
                transform: scale(1);
              }
            }
          }

          &.playAgain{
            transform: scale(0);
            .checkMark{display: none; transition: all 0s ease;}
            + .playAgain-link{
              opacity: 1;
              transform: scale(1);
              display: block;
            }
          }


          .checkMark{
            position: absolute;
            top: 11px;
            left: 0;
            right: 0;
            margin-top: -20px;
            transition: all 300ms ease;
            img{
              width: 40px;
            }
          }
        }
        .playAgain-link{
          opacity: 0;
          transform: scale(0);
          display: none;
          font-size: 32px;
          color: #009345;
          font-weight: 700;
          transition: all 300ms ease 10ms;
        }
      }
    }
  }
}


// mobile.html
.mobile{
  .pre-loader {
    box-shadow: inset 0 0 100px -20px #0f0f0f;
  }

  .a{
    width: auto;
    height: auto;
    min-width: 320px;
    padding: 0 0 100px;
    .a-check span {
      font-size: 30px;
    }


    .a-content{
      width: 98%;
      max-width: 620px;
      &-box{
        height: 1060px;
        &-title{
          font-size: 60px;
          margin: 45px 10px 40px;
          &_s{
            padding: 0 40px 25px;
            font-size: 33px;
            line-height: 60px;
            margin: 0 70px;
            h2{
              font-size: 44px;
            }
          }
          &_m{
            font-size: 37px;
            padding: 0 50px 0;
          }
          &_x{
            font-size: 46px;
            padding: 0 50px 0;
          }
        }
      }

      &-box_2{
        &-bg {
          height: 510px;
          img {
            position: static;
            height: 100%;
          }
        }
        &-questions{
          &-title {
            h2{
              font-size: 26px;
              max-width: 100%;
            }
            .time {
              position: absolute;
              top: -145px;
              width: 120px;
            }
          }
          &-box-item {
            padding: 40px 25px 15px 0;
            width: 100%;
          }
        }
      }

      &-box_3{
        &-submit{
          max-width: 320px;
          padding: 0;
          margin: 30px auto 0;
          .a-btn_o{
            width: 100%;
            display: block;
            margin: 40px auto 0;
          }
        }

        .bg_w {
          padding: 20px 0;
        }
        .a-content-box-title_m h2 span {
          font-size: 70px;
        }
        .a-content-box_2-questions-title h2 {
          border-bottom: 5px solid #009345;
        }
      }
    }
  }
}


@media all and (max-width: 620px){
  .mobile{
    .a{
      .a-check {
        max-width: 320px;
        margin: 0 auto;
        span {
          font-size: 22px;
        }
      }
      .a-input {
        width: 95%;
        margin: 0;
        input{
          font-size: 20px;
        }
        span {
          font-size: 25px;
          margin: 10px 10px 0;
        }
      }

      .a-content{
        max-width: initial;
        &-box{
          border: 10px solid #009344;
          height: 765px;
          &-title{
            font-size: 34px;
            margin: 20px 10px 20px;
            &_s{
              padding: 0 10px 15px;
              font-size: 24px;
              line-height: 43px;
              margin: 0;
              h2{
                font-size: 30px;
              }
            }
            &_m{
              font-size: 30px;
              margin-top: 15px;
              padding: 0 10px;
            }
            &_x {
              font-size: 40px;
              padding: 0px 20px;
            }
          }

          &-btns button {
            margin: 30px 2%;
            width: 40%;
            img{
              width: 100%;
            }
          }
        }

        &-box_2{
          height: auto;
          min-height: 765px;
          &-bg{
            height: 400px;
            .corner {
              font-size: 40px;
            }
          }
          &-questions{
            &-title {
              padding: 15px;
              text-align: center;
              .respImg{
                height: 46px;
                width: 265px;
              }
            }
            &-box-item {
              padding: 20px 25px 20px 0;
            }
          }
        }

        &-box_3{
          .a-content-box-title_m {
            margin: 50px 0 0;
            h2 span {
              width: 70px;
              height: 70px;
              line-height: 60px;
              font-size: 40px;
            }
          }
          .a-content-box_2-questions-title {
            margin: 50px 0 0;
            h2{
              font-size: 34px;
            }
          }

          &-submit {
            padding: 15px 10px 0;
          }
        }
      }
    }
  }
}



//======================================================================================================================
.opacityAnim.ng-hide-add {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all 500ms linear;
  &-active{
    opacity: 0;
  }
}
.opacityAnim.ng-hide-remove {
  opacity: 0;
  transition: all 500ms linear 200ms;
  &-active{
    opacity: 1;
  }
}


//.animate-repeat {
//  transition: 100ms all linear;
//}
//.animate-repeat.ng-leave.ng-leave-active,
//.animate-repeat.ng-move,
//.animate-repeat.ng-enter {
//  opacity:0;
//}
//.animate-repeat.ng-leave,
//.animate-repeat.ng-move.ng-move-active,
//.animate-repeat.ng-enter.ng-enter-active {
//  opacity:1;
//}




//IE_FIXES==============================================================================================================
.ie9 .a-desktop{
  .a-content-box_2-questions-title{
    text-align: right;
  }
  .a-content-box_3-submit{
    text-align: right;
    .a-btn_o{
      float: left;
    }
  }
}



img[src^="http://api.cooladata"]{
  display: none;
}








