@font-face{
  font-family:'almoni-dl';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni-dl';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni-dl';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-700.woff') format('woff');
}
@font-face{
  font-family:'almoni-dl';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.eot');
  src: url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.ttf') format('truetype'),
  url('../font/almoni-dl-aaa-web/font_files/almoni-dl-aaa-900.woff') format('woff');
}

//////////////////////////////////////////////////////////////////
.pre-loader {
  visibility: visible;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: fixed;
  z-index: 10000;
  background: #34507F;
  opacity: 1;
  transition: all 2s ease;
  &.hide{
    opacity: 0;
    visibility: hidden;
    z-index: -5;
  }
}

.hide{
  #loader{
    transform: scale(0);
  }
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  transform: scale(1);
  transition: all 2s ease;
}

//////////////////////////////////////////////////////////////////

*{
  box-sizing: border-box;
  &:focus, &:active{
    outline: none !important;
  }
}

html,body{
  height: 100%;
  font-family: 'almoni-dl';
  color: white;
  min-width: 320px;
  direction: rtl;
}
.ovh{
  overflow: hidden;
}

.respImg{
  width: 100%;
  vertical-align: middle;
}

.mobMail-marg{
  margin-bottom: 40px;
}

.inActive{
  pointer-events: none;
  opacity: 0.2;
}

.dir-rtl{
  direction: rtl !important;
}

.dir-ltr{
  direction: ltr !important;
}


.x{
  min-height: 750px;
  background: url(../i/bg.png) 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &-checkbox{
    display: block;
    input{
      display: none;
      &:checked + i{
        background: #ffd50e;
      }
    }
    i{
      vertical-align: text-top;
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid #ffd50e;
    }
  }


  &-content{
    width: 1020px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;
    &-left{
      position: relative;
      width: 50%;
      height: 100%;

      display: inline-block;
      vertical-align: top;
      &-logo{
        position: absolute;
        left: 0;
        top: 0;
      }
      &-liberty{
        position: absolute;
        left: -53%;
        bottom: -190px;
      }
      &-mail{
        width: 475px;
        position: absolute;
        left: 0;
        right: 0;
        top: 400%;
        margin: 0 auto;

        -webkit-transition-property: -webkit-all;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: linear;
        .bgimg{
          width: 100%;
          z-index: 2;
          position: relative;
          -webkit-transition-property: -webkit-all;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-property: all;
          transition-duration: 1s;
          transition-timing-function: linear;
        }
        .top{
          top: 0;
          left: 0;
          width: 99.5%;
          margin: 0 0 0 3px;
          position: absolute;
          transform-style: preserve-3d;
          -webkit-transition-property: -webkit-all;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-property: all;
          transition-duration: 1s;
          transition-timing-function: linear;
          .front, .back{
            display: block;
            height: 0;
            border-bottom: 54px solid #f9dc39;
            border-left: 30px solid rgba(0, 0, 0, 0);
            border-right: 30px solid rgba(0, 0, 0, 0);
            padding: 0;
            backface-visibility: hidden;
          }
          .front{
            transform: rotate(180deg);
          }
          .back{
            margin: -52px 0;
            backface-visibility: hidden;
            transform: rotateX( 180deg );
          }
        }
        .hidetop{
          width: 99%;
          margin: 0;
          z-index: 2;
          opacity: 0;
          position: absolute;
          left: 5px;
          right: 0;
          top: 0;
          height: 70px;
          background: #f9dc39;
          -webkit-transition-property: -webkit-all;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-property: all;
          transition-duration: 1s;
          transition-timing-function: linear;
        }

        .photo-me, .photo-friends{
          opacity: 0;
          overflow: hidden;
          height: 0;
          -webkit-transition-property: -webkit-all;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-property: all;
          transition-duration: 1s;
          transition-timing-function: linear;
          span{
            padding: 8px;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            background: white;
            width: 201px;
            height: 259px;
            box-shadow: 0 0 8px -2px #3D3D3D;
            i{
              display: block;
              width: 100%;
              height: 80%;
              background-size: cover !important;
            }
            &:nth-child(1){
              z-index: 2;
            }
            &:nth-child(2){
              transform: rotate(3deg);
              z-index: 1;
            }
            &:nth-child(3){
              transform: rotate(6deg);
              z-index: 0;
            }
          }
        }
        .photo-me{
          float: left;
          transform: rotate(-15deg) scale(0);
        }
        .photo-friends{
          float: right;
          transform: rotate(15deg) scale(0);
          span{
            left: initial;
            right: 0;
          }
        }
      }
    }
    &-right{
      width: 50%;
      height: 100%;
      text-align: center;
      position: relative;

      display: inline-block;
      vertical-align: top;
      &-title{
        color: #ffd50e;
        font-size: 48px;
        font-weight: bold;
        max-width: 475px;
        margin: 65px auto 20px;
        text-align: center;
        direction: rtl;
        span{
          display: block;
          font-size: 28px;
          color: white;

        }
        &_s{
          font-size: 26px;
          color: white;
          font-weight: normal;
          max-width: 375px;
          margin: 0 auto 60px;
          letter-spacing: 1px;
        }
        &_m{
          font-size: 23px;
          color: white;
          font-weight: bold;
          max-width: 375px;
          margin: 0 auto 20px;
          a{
            color: white;
            text-decoration: underline;
          }
        }
      }
      &-btn{
        cursor: pointer;
        font-size: 39px;
        color: white;
        background: url(../i/btn.png) 0 0 no-repeat;
        width: 512px;
        height: 286px;
        margin: 0 auto 20px;
        border: none;
        text-align: center;
        display: block;
        transition: all .5s ease;
        &_2{
          font-size: 28px;
          font-weight: bold;
          color: black;
          background: url(../i/btn_2.png) 0 0 no-repeat;
          width: 394px;
          height: 100px;
          margin: 0 auto;
          padding: 0 0 20px;
          border: none;
          text-align: center;
          display: block;
          transform: scale(1);
          cursor: pointer;
          transition: all .5s ease;
          &.send{
            position: absolute;
            left: 0;
            right: 0;
            opacity: 0;
            transform: scale(0);

            + .x-content-right-checkMark{
              position: absolute;
              left: 0;
              right: 0;
              opacity: 1;
              transform: scale(1);
            }
          }
        }


        + #loader2{
          position: absolute;
          left: 0;
          right: 0;
          top: 265px;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          opacity: 0;
          transform: scale(0);
        }
        &.send{
          position: absolute;
          left: 0;
          right: 0;
          opacity: 0;
          transform: scale(0);

          + #loader2{
            opacity: 1;
            transform: scale(1);
          }
        }
      }
      &-checkMark{
        opacity: 0;
        transform: scale(0);
        width: 30px;
        margin: 0 auto;
        transition: all .5s ease .5s;
        img{
          width: 100%;
        }
      }
      &-link{
        display: inline-block;
        color: white;
        text-decoration: underline;
        font-size: 26px;
        position: absolute;
        right: 25px;
        bottom: 25px;
        &:hover{
          color: #3c5b9b;
        }
      }
      &-textarea{
        text-align: right;
        margin: 0 auto 5px;
        padding: 10px;
        color: white;
        background: #0d1d38;
        border: 1px solid #2161aa;
        border-radius: 5px;
        width: 100%;
        max-width: 350px;
        resize: horizontal;
        font-size: 20px;
        direction: rtl;
        font-family: almoni-dl !important;
      }
      &-label{
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto 15px;
        span{
          margin-bottom: 10px;
          font-size: 23px;
          font-weight: bold;
          display: block;
          text-align: right;
        }
        input{
          text-align: right;
          padding: 5px 10px;
          color: #fff;
          background: #0d1d38;
          border: 1px solid #2161aa;
          border-radius: 5px;
          width: 100%;
          direction: ltr;
          font-size: 20px;
        }
      }
    }




    &.openMail{
      .x-content-left-mail{
        top: 40%;

        .photo-me, .photo-friends{
          margin: -280px 0 0 40px;
          opacity: 1;
          overflow: visible;
          height: auto;
          -webkit-transition-property: -webkit-all;
          -webkit-transition-duration: 1s;
          -webkit-transition-delay: 1s;
          -webkit-transition-timing-function: linear;
          transition-property: all;
          transition-duration: 1s;
          transition-delay: 1s;
          transition-timing-function: linear;
        }
        .photo-me{
          transform: rotate(-15deg) scale(.8);
        }
        .photo-friends{
          right: 0;
          margin: -280px 40px 0 0;
          transform: rotate(15deg) scale(.8);
        }
        .top{
          transform: rotateX( 180deg );
          transition: all 1s ease 1s;
          + .hidetop{
            opacity: 1;
            transition: all 1s ease 1s;
          }
        }
      }
    }
    &.showPhoto{
      .x-content-left-mail{
        .bgimg{
          transition: all 1s ease 0s;
          transform: translateY(1000px);
        }
        .top{
          transition: all 1s ease 0s;
          transform: translateY(1000px);

          + .hidetop{
            transition: all 1s ease 0s;
            transform: translateY(1000px);
          }
        }

        .photo-me{
          margin: -340px 0 0 10px;
          transform: rotate(-15deg) scale(1);
          transition: all 1s ease 0.2s;
        }
        .photo-friends{
          margin: -340px 10px 0 0;
          transform: rotate(15deg) scale(1);
          transition: all 1s ease 0.2s;
        }
      }
    }
  }
}


//======================================================================================================================
.x-content-right.ng-hide-add {
  position: absolute;
  right: 0;
  opacity: 1;
  transition: all 500ms linear;
  &-active{
    opacity: 0;
  }
}
.x-content-right.ng-hide-remove {
  opacity: 0;
  transition: all 500ms linear 300ms;
  &-active{
    opacity: 1;
  }
}


//======================================================================================================================
[name="google_conversion_frame"]{display: none;}
#fb-root + img, .hideNext + img{display: none;}
[onerror]{display: none;}


