<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>רגע אקזוטי מסביב לעולם</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/bootstrap-css-only/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower/reset-css/reset.css" />
    <!-- endbower -->


    <link rel="stylesheet" href="css/main-min.css"/>
    <link rel="stylesheet" href="http://reshet.tv/mood/__apps/springCss/style.css"/>

    <!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
</head>
<body ng-controller="mainCtrl" class="app ovh">
    <div pre-loader class="pre-loader">
        <div id="loader1"></div>
    </div>

    <main class="a a-desktop">
        <div class="a-content">
            <img class="a-content-title" src="i/home_title.png" alt="">


            <div class="a-content-box a-content-box-transpBg opacityAnim" ng-show="isTab(1)">
                <h1 class="a-content-box-title">רוצים לקחת הפסקה ביעד חלומי בעולם?</h1>
                <div class="a-content-box-title_s">
                    קחו לכם כמה רגעים לזהות כמה שיותר מקומות אקזוטיים.
                    תשובה נכונה    <span>פלוס 10 נק'</span>    |  תשובה שגויה  <span> מינוס 5 נק'</span>
                    זיהיתם את כל המקומות? הרווחתם   <span>15</span>   נקודות!
                </div>
                <div class="a-content-box-title_m">
                    מי שיצבור את כמות הנק׳ הגבוהה ביותר יזכה בחופשה חלומית בחו"ל!
                    ככל שתשחקו יותר – תגדילו את הסיכוי לזכות!
                </div>
                <div class="a-content-box-title_x">
                    מוכנים? התחברו והתחילו לשחק! 
                </div>
                <div class="a-content-box-btns">
                    <button class="a-btn_o" ng-click="loginG();"><img src="i/g.png" alt=""></button>
                    <button class="a-btn_o" ng-click="loginF();"><img src="i/fb.png" alt=""></button>
                </div>
            </div>

            <div class="a-content-box a-content-box_2 opacityAnim" ng-class="{loading: startRedCounter}" ng-show="isTab(2)">
                <!--<div id="loader2"></div>-->

                <div class="a-content-box_2-bg">
                    <img ng-src="http:{{thisQuestion.question_image_desktop}}" alt="">
                    <div class="corner">
                        <span>{{score}}</span>
                        נק׳
                    </div>
                </div>
                <div class="a-content-box_2-questions">
                    <div class="a-content-box_2-questions-title">
                        <h2>{{questionNumber}}/5 | {{thisQuestion.question_title | trusted}}</h2>
                        <div class="time" ng-class="{red: timer == 0}">
                            <img ng-class="{dn: timer == 0}" src="i/box2_time.png" alt="">
                            <img ng-class="{dn: timer != 0}" src="i/box2_time_R.png" alt="">
                            <span>{{timer}}</span>
                        </div>
                    </div>

                    <form class="a-content-box_2-questions-box" ng-show="thisQuestion">
                        <div class="a-content-box_2-questions-box-item" ng-repeat="item in onlyQuestions track by $index">
                            <label class="a-check" ng-class="{'correct': item.id == 1, 'wrong': item.id != 1, 'touched': touched}">
                                <input type="radio" name="inputQuestions" ng-model="answerRadio" ng-click="addNewSingleAnswer(item);touched = !touched">
                                <i>
                                    <img src="i/v.png" alt="">
                                    <img src="i/x.png" alt="">
                                </i>
                                <span>{{item.question | trusted}}</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>

            <form name="sendForm" class="a-content-box a-content-box_3 opacityAnim" ng-show="isTab(3)">
                <div class="a-content-box-title_m">
                    <span ng-if="score > 0">כל הכבוד!</span>
                    <span ng-if="score <= 0">לא נורא!</span>
                    <h2>צברת
                        <span>{{score}}</span>
                        נקודות
                    </h2>
                </div>

                <div class="a-content-box_2-questions-title">
                    <h2>אנא מלא את פרטייך על מנת לזכות בפרס: </h2>
                </div>

                <div class="bg_w">
                    <div class="a-content-box_3-inputs">
                        <label class="a-input">
                            <span>שם מלא</span>
                            <input type="text" maxlength="100" required="required" name="user_full_name" ng-model="$parent.user_full_name" ng-change="checkTypingInputs(sendForm)">
                        </label>
                        <label class="a-input">
                            <span>טלפון</span>
                            <input type="tel" maxlength="11" required="required" name="user_phone" ng-model="$parent.user_phone" pattern="^\(?(02|03|04|07|08|09|072|073|074|076|077|078|050|052|053|054|055|056|057|058|059)\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" style="direction: rtl;" ng-change="checkTypingInputs(sendForm)">
                        </label>
                        <label class="a-input">
                            <span>מייל</span>
                            <input type="email" maxlength="100" required="required" name="user_mail" ng-model="$parent.user_mail" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" ng-change="checkTypingInputs(sendForm)">
                        </label>
                    </div>
                    <div class="a-content-box_3-submit">
                        <label class="a-check">
                            <input type="checkbox" ng-init="checkBox = true" ng-click="checkBox = !checkBox">
                            <i>
                                <img src="i/v.png" alt="">
                            </i>
                            <span>הנני מאשר את   <a href="http://reshet.tv/mood/travel/shows-the-amazing-race/takanon-spring-sites/" target="_blank">התקנון</a> </span>
                        </label>


                        <button class="a-btn_o" ng-class="{'inactive': sendForm.user_phone.$invalid || sendForm.user_mail.$invalid || sendForm.user_full_name.$invalid || checkBox}" ng-click="sendAnswersSummery(sendForm, $event)">
                            <img class="img" src="i/submit.png" alt="">
                            <span class="checkMark"><img src="i/check-mark.png" alt=""></span>
                        </button>
                        <a href="http://www.slash.co.il/projects/reshet/hamerotz_spring_exsotic/app/" class="playAgain-link">שחקו שוב ></a>
                    </div>
                </div>
            </form>
        </div>
    </main>


    <!-- loader -->
    <script src="http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js"></script>
    <script type="text/javascript">
        var cl1 = new CanvasLoader('loader1');
        cl1.setColor('#009345'); // default is '#000000'
        cl1.setShape('spiral'); // default is 'oval'
        cl1.setDiameter(200); // default is 40
        cl1.setDensity(51); // default is 40
        cl1.setRange(1.4); // default is 1.3
        cl1.setSpeed(1); // default is 2
        cl1.setFPS(60); // default is 24
        cl1.show(); // Hidden by default


//        var cl2 = new CanvasLoader('loader2');
//        cl2.setColor('#009345'); // default is '#000000'
//        cl2.setShape('spiral'); // default is 'oval'
//        cl2.setDiameter(200); // default is 40
//        cl2.setDensity(51); // default is 40
//        cl2.setRange(1.4); // default is 1.3
//        cl2.setSpeed(1); // default is 2
//        cl2.setFPS(60); // default is 24
//        cl2.show(); // Hidden by default
    </script>
    <!-- loader -->


    <!-- bower:js -->
    <script src="bower/angular/angular.min.js"></script>
    <script src="bower/angular-route/angular-route.min.js"></script>
    <script src="bower/angular-animate/angular-animate.min.js"></script>
    <script src="bower/angular-google-plus/dist/angular-google-plus.min.js"></script>
    <script src="bower/angular-facebook/lib/angular-facebook.js"></script>
    <!-- endbower -->

    <!-- fblogin -->
    <script type="text/javascript">
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- g+login -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>


    <!-- Add Google Analytics code:-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40581512-5', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Start Cooladata -->
    <script type="text/javascript">
        (function(d,a){if(!a.__SV){var b,c,g,e;window.cooladata=a;a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var h=a;"undefined"!==typeof f?h=a[f]=[]:f="cooladata";g=["trackEvent","trackEventLater","trackPageload","flush","setConfig"];for(e=0;e<g.length;e++)d(h,g[e]);a._i.push([b,c,f])};a.__SV=1.2;b=d.createElement("script");b.type="text/javascript";b.async=!0;b.src="//cdn.cooladata.com/tracking/cooladata-2.1.12.min.js";c=d.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.cooladata||[]);
        cooladata.init({
            "app_key": "s2pjk18mq7bfhx6b7uvregjc3l3s4yc3",
            "track_pageload": true,
            "img_src_get_request": true
        });
    </script>
    <!-- End Cooladata -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40581512-5', 'auto');
        ga('send', 'pageview');

    </script>


    <!--CHECK DEVICE-->
    <script>
        (function isMobileBrowser () {
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
                window.location.href = "http://www.slash.co.il/projects/reshet/hamerotz_spring_exsotic/app/mobile.html";
            }
        })();
    </script>
    <!--CHECK DEVICE-->

    <script src="js/main.js" charset="UTF-8"></script>
</body>
</html>