.mobMail-marg{
  margin-bottom: 235px;
}
.respImg {
  display: block;
  margin: 0 auto;
}

.x{
  min-height: 650px;
  background: url(../i/mobileBg1.png) center no-repeat;
  background-size: cover !important;
  &-content{
    padding: 0;
    background: transparent;
    &.mobileBg1:after,
    &.mobileBg2:after{
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: url(../i/mobileBg.png) 0 0 no-repeat;
      background-size: cover !important;
      transition: all 1s ease 500ms;
    }
    &.mobileBg2:after{
      background: url(../i/mobileBg2.png) 0 0 no-repeat;
    }
    &-left{
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      &-logo{display: none;}
      &-liberty {
        width: 100%;
        bottom: -130px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
      }
      &-mail {
        transition: all 1s ease 0.5s;
      }
    }
    &-right{
      z-index: 2;
      padding: 15px;
      width: 100%;
      position: relative;
      &-title {
        margin: 0 auto 10px;
        font-size: 28px;
        max-width: initial;
        width: 100%;
        span {
          font-size: 18px;
        }
        &_s {
          width: 100%;
          max-width: 420px;
          font-size: 16px;
          margin: 0 auto 20px;
        }
        &_m {
          max-width: initial;
          width: 100%;
          font-size: 16px;
          margin: 280px auto 5px;
        }
      }
      &-btn {
        font-size: 20px;
        width: 280px;
        height: 160px;
        padding: 0 35px 45px;
        margin: 0 auto;
        &_2 {
          font-size: 24px;
          background: url(../i/btn_2.png) 0 0 no-repeat;
          width: 100%;
          background-size: 100%;
          padding: 0 0 35px;
          max-width: 320px;
        }
      }
      &-link {
        right: initial;
        position: fixed;
        left: 25px;
        font-size: 20px;
        bottom: 20px;
      }
      &-textarea {
        max-height: 64px;
        max-width: initial;
      }
      &-label {
        max-width: 550px;
      }
    }



    &.openMail{
      .x-content-left{
        &-liberty{opacity: 0;}
        &-mail{
          top: 250px;
          .photo-me, .photo-friends {
            margin: -200px 0 0 0;
          }
        }
      }
    }
    &.showPhoto{
      .x-content-left-mail{
        .photo-me, .photo-friends {
          margin: -180px 0 0 -20px;
        }
        .photo-friends {
          margin: -180px -20px 0 0;
        }
      }
    }


    &.mobileBg1{
      &:after{
        opacity: 1;
      }
    }
    &.mobileBg2{
      &:after{
        opacity: 1;
      }
      .x-content-left-mail{
        .photo-me, .photo-friends {
          opacity: 0;
        }
      }
    }
  }
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.ie9{
  .openMail.x-content .x-content-left-mail{
    top: 40%;
  }
}








