.x{
  &-content {
    width: 100%;
    padding: 20px 10px 0;
    &-left{
      &-logo {
        width: 200px;
      }
      &-liberty {
        width: 600px;
        bottom: -130px;
      }
      &-mail {
        width: 300px;
        .hidetop {
          left: 2px;
          height: 40px;
        }
        .photo{
          &-me, &-friends{
            margin: -50px 50px 0;
            span {
              width: 150px;
              height: 195px;
            }
          }
          &-friends{
            transform: rotate(15deg) translateX(0px) scale(.2);
          }
        }
        .top{
          width: 99%;
          .back {
            margin: -40px 0;
            border-bottom: 40px solid #f9dc39;
          }
          .front{
            border-bottom: 40px solid #f9dc39;
          }
        }
      }
    }



    &-right{
      &-btn{
        font-size: 25px;
        width: 374px;
        height: 200px;
        padding: 0 45px 64px;
        background-size: 100%;
      }
      &-title {
        font-size: 40px;
        &_s{
          font-size: 22px;
          margin: 0 auto 50px;
        }
      }
    }



    &.openMail{
      .x-content-left-mail{
        .photo{
          &-me, &-friends{
            margin: -240px 0 0 10px;
          }
          &-friends{
            margin: -240px 10px 0 0;
            transform: rotate(15deg) scale(.8);
          }
        }
      }
    }
    &.showPhoto{
      .x-content-left-mail{
        .photo{
          &-me, &-friends{
            margin: -280px 0 0 -20px;
          }
          &-friends{
            margin: -280px -20px 0 0;
            transform: rotate(15deg) scale(1);
          }
        }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.ie9{
  .openMail.x-content .x-content-left-mail{
    top: 50%;
    .photo{
      &-friends, &-me{
        margin: -60px 0 0;
      }
    }
  }
  .showPhoto.x-content .x-content-left-mail{
    .photo{
      &-friends, &-me{
        margin: -65px 0 0 -20px;
      }
    }
  }
}







